@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=League+Gothic&display=swap');


.wrap {
    border: 2px red solid;
}

.wrap__container {
    width: 90%;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrap-side {
    border: 2px red solid;
    width: 100%;
    height: 90%;
}

.input-item {
    display: grid;
    grid-template-columns: 30% 40%;
}